<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.espressif.esp8266_iot"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="13"
          android:versionName="v0.0.1">

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>

    <application
        android:name="com.espressif.esp8266_iot.GlobalClass"
        android:allowBackup="true"
        android:icon="@drawable/img"
        android:label="@string/app_name"
        android:theme="@style/Esp8266iot">
        <activity
            android:name="com.espressif.esp8266_iot.activitys.mainActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.espressif.esp8266_iot.activitys.mainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.espressif.esp8266_iot.activitys.smartlinkActivity"
            android:label="Smartlink"
            android:parentActivityName="com.espressif.esp8266_iot.activitys.mainActivity"></activity>
        <activity
            android:name="com.espressif.esp8266_iot.activitys.setupActivity"
            android:label="Setup"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName="com.espressif.esp8266_iot.activitys.smartlinkActivity">
        </activity>

    </application>

</manifest>